<a href="https://colab.research.google.com/github/ZiYu-Huang/108-2-data-science/blob/master/Day14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#正規化
縮小資料的呈現比例，可使數值呈現在一定的範圍內


使我們在訓練模型時，增加梯度下降的容易度並提升模型效果

In [2]:
import pandas as pd
import numpy as np

In [ ]:
test_1 = pd.DataFrame(np.arange(-72,9).reshape(9,9))
test_1

    0   1   2   3   4   5   6   7   8
0 -72 -71 -70 -69 -68 -67 -66 -65 -64
1 -63 -62 -61 -60 -59 -58 -57 -56 -55
2 -54 -53 -52 -51 -50 -49 -48 -47 -46
3 -45 -44 -43 -42 -41 -40 -39 -38 -37
4 -36 -35 -34 -33 -32 -31 -30 -29 -28
5 -27 -26 -25 -24 -23 -22 -21 -20 -19
6 -18 -17 -16 -15 -14 -13 -12 -11 -10
7  -9  -8  -7  -6  -5  -4  -3  -2  -1
8   0   1   2   3   4   5   6   7   8

In [ ]:
test_2 = pd.DataFrame(np.arange(1,82).reshape(9,9))
test_2

    0   1   2   3   4   5   6   7   8
0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18
2  19  20  21  22  23  24  25  26  27
3  28  29  30  31  32  33  34  35  36
4  37  38  39  40  41  42  43  44  45
5  46  47  48  49  50  51  52  53  54
6  55  56  57  58  59  60  61  62  63
7  64  65  66  67  68  69  70  71  72
8  73  74  75  76  77  78  79  80  81

##StandardScaler
使均方差為1


使用方法:
1. 將StandarScaler方法先指派給一個變數名稱
2. fit_transform後方參數填入要正規化的值
3. transform後方填入的參數會依據fit_transform的結果來做正規化
4. ***fit_transform***通常用來正規化*training set*; 而***transform***用來正規化*testing set*

其他正規化的使用方式與StandarScaler一樣，以下不會再多述

In [9]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()
sc_test_1 = sc.fit_transform(test_1)
sc_test_2 = sc.transform(test_2)
print(f"sc_test_1.max() = {sc_test_1.max()}")
print(f"sc_test_1.min() = {sc_test_1.min()}")
print(f"sc_test_1.mean() = {sc_test_1.mean()}")
print(f"sc_test_1.std() = {sc_test_1.std()}")

sc_test_1.max() = 1.5491933384829668
sc_test_1.min() = -1.5491933384829668
sc_test_1.mean() = -2.741291418827547e-17
sc_test_1.std() = 1.0

##MinMaxScaler
(原值-min)/(max-min) ⇦ 此計算方式會使資料落於0~1的區間中

In [10]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
minmax_test_1 = minmax.fit_transform(test_1)
minmax_test_2 = minmax.transform(test_2)
print(f"minmax_test_1.max() = {minmax_test_1.max()}")
print(f"minmax_test_1.min() = {minmax_test_1.min()}")
print(f"minmax_test_1.mean() = {minmax_test_1.mean()}")
print(f"minmax_test_1.std() = {minmax_test_1.std()}")

NameError: ignored

##MaxAbsScaler
原值 / 原值取絕對值後的最大值 ⇦ 此計算方式會使資料落於-1~1的區間中

In [11]:
from sklearn.preprocessing import MaxAbsScaler
maxabs = MaxAbsScaler()
maxabs_test_1 = maxabs.fit_transform(test_1)
maxabs_test_2 = maxabs.transform(test_2)
print(f"maxabs_test_1.max() = {maxabs_test_1.max()}")
print(f"maxabs_test_1.min() = {maxabs_test_1.min()}")
print(f"maxabs_test_1.mean() = {maxabs_test_1.mean()}")
print(f"maxabs_test_1.std() = {maxabs_test_1.std()}")

NameError: ignored

#LabelEncoder
當我們想把一筆資料拿去train時，必須將所有的值都轉成數字，這樣電腦才能看懂，因為像是字串此類型的資料是無法直接拿下去train，而有時因為資料眾多將每個字串都轉成數字的工作將會變得耗時又繁瑣。


LabelEncoder就能快述的幫助我們做到快述的編碼

In [12]:
from sklearn.preprocessing import LabelEncoder
test = pd.DataFrame(['apple', 'apple', 'banana', 'orange', 'banana', 'orange'])

使用方式:


將LabelEncoder方法指派給一個變數
，之後使用fit_transform後方填入要encoder的值

In [ ]:
labelencoder = LabelEncoder()
test_label = labelencoder.fit_transform(test)
test_label #輸出結果:同為apple的字串被編為0、banana為1、orange為2

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 1, 2, 1, 2])

#train_test_split
快速的將資料分為訓練集(train)和驗證集(valid)

In [45]:
from sklearn.model_selection import train_test_split
url = 'https://raw.githubusercontent.com/ZiYu-Huang/Practices-for-Beginners/main/train.csv'
data_set = pd.read_csv(url)

train_test_split() 所接受的變數其實非常單純，基本上為3項：『原始的資料』、『Seed』、『比例』


1. 原始的資料：就如同上方的 data 一般，是我們打算切成 Training data 以及 Test data 的原始資料
2. Seed： 亂數種子，可以固定我們切割資料的結果
3. 比例：可以設定 train_size 或 test_size，只要設定一邊即可，範圍在 [0-1] 之間

In [35]:
train_data, test_data = train_test_split(data_set, random_state=777, test_size = 0.1)
#random_state參數主要是為了保證每次都分割一樣的訓練集和測試機，大小可以是任意一個整數，在調參緩解，只要保證其值一致即可。
print('train_data分成: ',train_data.shape)
print('test_data分成: ',test_data.shape)
#x_train, x_valid, y_train, y_valid = train_test_split(x = 'Age', y = 'Survived',test_size = 0.1, data = data_set)

train_data分成:  (801, 12)
test_data分成:  (90, 12)

train_test_split後方參數第一個為特徵值、第二個target、第三個是要分成的比例

之後會回傳四個值 順序為訓練集特徵值、驗證集特徵值、訓練集target、驗證集traget

In [52]:
import pandas as pd
test = pd.DataFrame(data_set)
x = test['Age']
y = test['Survived']

In [53]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size = 0.1, random_state=777)
print(x_train.shape)
print(x_valid.shape)
print(y_train.shape)
print(y_valid.shape)

(801,)
(90,)
(801,)
(90,)